<a href="#1.-Series">Series</a>

<a href="#2.-Dataframes">Dataframes</a>

<a href="#3.-CSV-Files">CSV Files</a>

<a href="#4.-Missing-values">Missing values</a>

<a href="#5.-dropna">dropna</a>

<a href="#6.-fillna">fillna</a>

<a href="#7.-replace">replace</a>

<a href="#8.-interpolate">interpolate</a>

<a href="#9.-loc-and-iloc">loc and iloc</a>

<a href="#10.-groupby">groupby</a>

<a href="#11.-merge">merge</a>

<a href="#12.-concat">concat</a>

<a href="#13.-join">join</a>

<a href="#14.-append">append</a>

<a href="#15.-pivot-table">pivot table</a>

<a href="#16.-melt">melt</a>

<a href="#17.-date-time-index">date time index</a>

In [1]:
#PANDAS
#numpy arrays are used for the implementation of pandas data objects
#isme dataframes, series, panels ke structure me data store karte from csv, tsv, json etc
#ye excel se fast aur efficiently handle karte

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.1.1'

## 1. Series

In [4]:
list1 = [1,2,-3,4.5,'datavalues']
print(list1)

[1, 2, -3, 4.5, 'datavalues']

In [5]:
#s capital
series1 = pd.Series(list1)
print(series1)

0             1
1             2
2            -3
3           4.5
4    datavalues
dtype: object

In [6]:
type(series1)

pandas.core.series.Series

In [7]:
series2 = pd.Series([1,12,3,4])
print(series2)

0     1
1    12
2     3
3     4
dtype: int64

In [8]:
emptyseries = pd.Series([])
print(emptyseries)

Series([], dtype: float64)

<ipython-input-8-13343d0fb619>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  emptyseries = pd.Series([])

In [9]:
series3 = pd.Series([1,12,3,4], index = ['a', 'b','c','d'])
print(series3)

a     1
b    12
c     3
d     4
dtype: int64

In [10]:
series3 = pd.Series([1,12,3,4], index = ['a', 'b','c','d'], dtype = float)
print(series3)

a     1.0
b    12.0
c     3.0
d     4.0
dtype: float64

In [11]:
series3 = pd.Series([1,12,3,4], index = ['a', 'b','c','d'], dtype = float, name = 'datavalues')
print(series3)

a     1.0
b    12.0
c     3.0
d     4.0
Name: datavalues, dtype: float64

In [12]:
scalarseries = pd.Series(0.5)
print(scalarseries)

0    0.5
dtype: float64

In [13]:
scalarseries = pd.Series(0.5, index = [1,2,3])
print(scalarseries)

1    0.5
2    0.5
3    0.5
dtype: float64

In [14]:
dicts = pd.Series({'a':1,'b':2})
print(dicts)

a    1
b    2
dtype: int64

In [15]:
series4 = pd.Series([1,2,3,4,5])
print(series4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
series4[1]

2

In [17]:
series4[0:3]

0    1
1    2
2    3
dtype: int64

In [18]:
max(series4)

5

In [19]:
min(series4)

1

In [20]:
series4[series4 >3]

3    4
4    5
dtype: int64

In [21]:
series5 = pd.Series([2,3,4,5,6])
print(series5)

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [22]:
series4 + series5

0     3
1     5
2     7
3     9
4    11
dtype: int64

In [23]:
series6 = pd.Series([1,2,3])
print(series6)

0    1
1    2
2    3
dtype: int64

In [24]:
#NAN!!!!! not a number
series5 + series6

0    3.0
1    5.0
2    7.0
3    NaN
4    NaN
dtype: float64

## 2. Dataframes

In [25]:
#d and f capital
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [26]:
lst = ['a', 'b', 'c']
print(lst)

['a', 'b', 'c']

In [27]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [28]:
#easy way
df1

   0
0  a
1  b
2  c

In [29]:
lst_of_lst = [[1,2,3],[2,3,4],[4,5,6]]
print(lst_of_lst)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [30]:
df2 = pd.DataFrame(lst_of_lst)
print(df2)

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [31]:
dict1 = {'ID':[11,22,33,44]}
print(dict1)

{'ID': [11, 22, 33, 44]}

In [32]:
df3 = pd.DataFrame(dict1)
print(df3)

   ID
0  11
1  22
2  33
3  44

In [33]:
#same number of values rehna dono me
dict1 = {'ID':[11,22,33,44], 'SN':[2,3,4,5]}
print(dict1)

{'ID': [11, 22, 33, 44], 'SN': [2, 3, 4, 5]}

In [34]:
df3 = pd.DataFrame(dict1)
df3

   ID  SN
0  11   2
1  22   3
2  33   4
3  44   5

In [35]:
#list of dict
ls_dict = [{'a':1, 'b':2}, {'a':3,'b':4}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [36]:
#no error for unequal dictionaries, lists ke jab, unlike only dictionary
ls_dict = [{'a':1, 'b':2}, {'a':3,'b':4, 'c':5}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [37]:
#dict of series
dict_s = {'ID':pd.Series([1,2,3]), 'SN':pd.Series([22,33,44])}
df6 = pd.DataFrame(dict_s)
df6

   ID  SN
0   1  22
1   2  33
2   3  44

## 3. CSV Files

In [38]:
pd.read_csv('student_results.csv')
#its a dataframe

FileNotFoundError: [Errno 2] No such file or directory: 'student_results.csv'

In [ ]:
pd.read_csv('Top-10-IT-Companies-in-India.csv')
#its a series ....1D data structure

In [ ]:
#jab bhi hum read command use karte toh wo file apne current working directory me store hota
import os
print(os.getcwd())

In [ ]:
df = pd.read_csv('Fortune_10.csv')
df

In [ ]:
type(df)

In [ ]:
df.columns

In [ ]:
df = pd.read_csv('Fortune_10.csv', nrows = 1)
df

In [ ]:
df = pd.read_csv('Fortune_10.csv', nrows = 5)
df

In [ ]:
df = pd.read_csv('Fortune_10.csv', usecols = [0])
df

In [ ]:
df = pd.read_csv('Fortune_10.csv', usecols = [0,1])
df

In [ ]:
df = pd.read_csv('Fortune_10.csv', usecols = [2,4,7])
df

In [ ]:
#koi rows nai hona toh SKIPROWS = 1 bolke diye toh uppar ka first row skip hojaata OR [0] if you want to work with index
#to make any column as index column
df = pd.read_csv('Fortune_10.csv', index_col = 'ID') #index bhi desakte [0]
df

In [ ]:
df = pd.read_csv('Fortune_10.csv')
df

In [ ]:
#header = jo bhi row hona ya nai hona toh None
#header daalna hai alag se toh prefix = 'column' bolke daaletoh apne aap column1, column2 banjaata
#names = ['A', 'B', 'C'] aisa bhi naam desakte

In [ ]:
df.head()

In [ ]:
df.head(8)

In [ ]:
df.tail()

In [ ]:
df = pd.read_csv('Fortune_10.csv', dtype = {'ID': 'float64'})
df

## 4. Missing values

In [ ]:
#true_values = ['kuch bhi']....kuch bhi ke jage true aata poora, false_values bhi
#na_values = [''] se kuch bhi value ku NaN consider karsakte
#keep_default_na = False....isse jo NaN me badaljaate unlogon ku nai badle waisa rakhsakte
#na_filter = False ....use karke background checking roksate jo python syntax aur datatyoe ya kuch bhi maalum karne karta
#(use it when u are confident that there are no missing values or such in your data)(data parsing process rokna)
df = pd.read_csv('Fortune_10.csv')
df

In [ ]:
df.isnull()
#ek missing value

In [ ]:
df.isnull().sum()

In [ ]:
#total 
df.isnull().sum().sum()

In [ ]:
df.notnull()
#similarly sum and total
#same for Series also

## 5. dropna

In [ ]:
import pandas as pd
df = pd.read_csv('Fortune_10New.csv')
df

In [ ]:
#dropna drops rows with null values (default rows)
df.dropna()

In [ ]:
df.dropna(axis = 1)

In [ ]:
#how = 'any' drops rows or columns acc to axis with atleast one null value
#how = 'all' drops rows or columns acc to axis only if all the cells are null values
df.dropna(how = "all")

In [ ]:
#thresh = 1 prints rows if there is atleast 1 non null value
#thresh = 2 prints rows if there is atleast 2 non null values
df.dropna(thresh = 7)
#9th row chalejaata

In [ ]:
#subset = ['column'] removes rows having null values in that particular column
df.dropna(subset = ['Name'])
#7th row jaata

In [ ]:
#inplace updates the existing dataframe without null values
df.dropna(inplace = True)
df
#we call df here cuz its updated

## 6. fillna

In [ ]:
df = pd.read_csv('Fortune_10New.csv')
df

In [ ]:
df.fillna(0)

In [ ]:
df.fillna(2)

In [ ]:
df.fillna({"Name": 'None', "Expenses": '0'})

In [ ]:
#ffill forward fill se uppar ke values neeche daalte 
df.fillna(method = 'ffill')
#method = pad bhi same
#method = bfill se neeche ke values uppar daalte

In [ ]:
#axis ke hisaab se ffill ya bfill desakte
df.fillna(axis = 1, method = 'ffill')
#previous column gets filled

In [ ]:
#limit = 1, fllls only one null values according to axis given 1 or 0
df.fillna(0, limit = 1)
#name ka dusra null value nai fill hua cuz limit = 1
#we can use method instead of axis here ....but either one is compulsory

In [ ]:
#same inplace as dropna...replaces the df with new one
df.fillna(5, inplace = True)
df

## 7. replace

In [ ]:
df = pd.read_csv('Fortune_10.csv')
df

In [ ]:
#to replace, value
df.replace(to_replace = 'Health', value = 'Finance')
#df.replace('Health', 'Finance') ....aisa bhi same

In [ ]:
#list bhi desakte
df.replace([1,2,3,4,5,6,7,8,9,10], 0)

In [ ]:
df.replace({'Industry' : 'Health'}, 'None')

In [ ]:
#regex detects patterns and replaces them
df.replace('[A-Za-z]', 0, regex = True)
#({'Industry':'A-Za-z'}, 0 ,regex = True)....for specific columns

In [ ]:
df

In [ ]:
df.replace("Health", method = 'ffill')
#similarly bfill 
#also limit = 1 ya 2 ya kuch bhi se kitte values hona utte replace karsakte
#inplace bhi same

## 7. interpolate

In [ ]:
#similar to fillna() but more power full and efficient using various methods to fill 
import pandas as pd
df = pd.read_csv('student_resultsNEW.csv')
df

In [ ]:
#interpolate fills missing values , only numbers not strings
#default method is 'linear'
df.interpolate()

In [ ]:
type(df.Date[0])

In [ ]:
#parse_dates reads date as date istead of string
df = pd.read_csv('student_resultsNEW.csv', parse_dates = ['Date'])
df

In [ ]:
type(df.Date[0])

In [ ]:
df = pd.read_csv('student_resultsNEW.csv', parse_dates = ['Date'], index_col = 'Date')
df

In [ ]:
df.interpolate(method ='time')
#date ke hisaab se fill karta
#method = 'index' karetoh index ke hisaab se fill karta
#method = 'nearest' nearest upper values

In [ ]:
df.interpolate(method ='polynomial', order = 2)
#spline bhi same
#time series pe quadratic method useful
#visualization ku 'akima' use karsakte

In [ ]:
df = pd.read_csv('student_resultsNEW.csv', usecols = [0,1,2,4,5])
df

In [ ]:
df.interpolate()
#default axis is 0, column by column fill hote. agar rows ke hisaab se fill hona hai toh data types same rehna sab ke
#limit = 1 ya 2 ya kuch bhi, defualt method is linear for every column

In [ ]:
df.dtypes

In [ ]:
df.interpolate(limit_direction = 'backward', limit = 1)
#neeche se uppar value fill hoti...ek ich, cuz limit = 1

In [ ]:
df.interpolate(limit_direction = 'both', limit = 1)
#uppar se ek , neeche se ek fill hoti

In [ ]:
df.interpolate(inplace = True)
df

## 9. loc and iloc

In [ ]:
df

In [ ]:
df.loc[0]

In [ ]:
df.loc[[1,3]]

In [ ]:
df.loc[4,'Class']

In [ ]:
#inclusive hai idhar, last value of column!!!!
df.loc[1:3, 'Class']

In [ ]:
#conditional or boolean operator bhi use karsakte
df.loc[df['Class'] < 11]

In [ ]:
df.loc[df['Class'] < 11, 'Percantege']

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0]]

In [ ]:
df.iloc[:,1]
#same syntax loc ku nai aata, error show karta

In [ ]:
#ek square bracket me particular column dete, do square bracket me rows aur columns dete
df.iloc[[0,1]]

## 10. groupby

In [ ]:
df

In [ ]:
gr1 = df.groupby(by = 'Class')
gr1

In [ ]:
gr1.groups

In [ ]:
for Section, df_1 in gr1:
    print(Section)
    print(df_1)

In [ ]:
list(gr1)

In [ ]:
dict(list(gr1))

In [ ]:
gr3 = df.groupby('Class').get_group(10)
gr3

In [ ]:
gr1.sum()
#sab add hojaate

In [ ]:
gr1.mean()

In [ ]:
gr1.describe()

In [ ]:
gr1.agg(['sum', 'max', 'mean'])

## 11. merge

In [ ]:
df1 = pd.DataFrame({'ID': [1,2,3,4], 'Class' : [9,10,11,12]})
df2 = pd.DataFrame({'ID': [1,2,3,4], 'Name':['A','B','C','D']})
print(df1)
print(df2)

In [ ]:
pd.merge(df1, df2, on = 'ID')

In [ ]:
#agar values diff hai ID me wo nai display hote
#how = left right inner se kaunse hona merge karsakte, idhar nai hai so vales NaN aata
pd.merge(df1, df2, on = 'ID', how = 'outer', indicator = True)

In [ ]:
df1 = pd.DataFrame({'ID': [1,2,3,4], 'Class' : [9,10,11,12]})
df2 = pd.DataFrame({'ID': [1,2,3,5], 'Name':['A','B','C','D']})
print(df1)
print(df2)

In [ ]:
pd.merge(df1, df2, on = 'ID', how = 'outer', indicator = True)
#left_index, right_index, suffices

## 12. concat

In [ ]:
#pd.concat([sr1, sr2])
#unequal series ya df ku bhi concatenate karasakte
#axis default 0, neeche concat hote
#pd.concat([df1,df2, ignore_index = default false, change to True])
#agar only common values print hona hai toh join = 'inner' lena. default outer hai
#join ke badle join_index = [df1.index] ku bhi use karte...jab df1 ke poore display hote, df2 ke NaN aate
#pd.concat([df1,df2], keys = ['first df', 'second df'])
#poore alag df hai toh bhi concat hote, NaN aate khaali jagah me

## 13. join

In [ ]:
#display(df1,df2)
#df1.join(df2)
#join only works on same indexes ... if index = ['a','b'] daalke hai toh NaN aata
#how = 'left' hai default 
#agar similar column names hai toh error aata, isliye lsuffix, rsuffix _1 bolke diye toh hota join

## 14.  append

In [ ]:
#append adds df in respect to rows and creates a new df
#df1.append(df2) index same aate, hence use ignore_index = True 
#use sort = False, to remove warning for alag dataframe columns

## 15. pivot table

In [ ]:
#df.pivot_table(index = 'Genre') rows ke side poore genres diplay hote
#df.pivot_table(index = 'Genre', columns = 'Year') year ke columns aate
#df.pivot_table(index = 'Genre', columns = 'Year', aggfunc = 'mean,count,sum,max,min') aisa kuch bhi desakte
#df.pivot_table(index = 'Genre', columns = 'Year', fill_value = 'none', 0)null values fill hote
#margins = True daaletoh totals dete row aur column me

## 16. melt

In [ ]:
#pd.melt(df)poore columns line se neeche tak rows me badal jaate...table MELTS!
#variable ke neeche column headings, value ke neeche andar ke cells
#pd.melt(df, id_vars = ['Genre']) naya Genre column banta...genre ke hisaab se value aur variable show hote
#value_vars poora column neeche tak banta
#var_name aur value_name se naam badalsakte

## 17. date time index

In [ ]:
#parse_dates = ["Date"]